
.feedback_form_page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page_content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    position: relative;
    align-items: center;
}

.form_body {
    display: flex;
    flex-direction: column;
    min-width: 450px;
    width: 50%;
    background: #f8f8f8;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid #ddd;
}

.title {
    font-weight: bold;
    font-size: 26pt;
    margin-top: 20px;
    margin-bottom: 10px;
}

.type_selector {
    padding: 5px;
}

.form_container {
    display: flex;
    flex-direction: column;
}

.form_field {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.form_field > div {
    display: flex;
    margin-bottom: 5px;
    font-weight: 400;
}

.form_field > input {
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #adadad;
}

.form_field > input:focus {
    outline: none;
    box-shadow: 0px 0px 3px #3399ff;
}

.form_field > textarea {
    padding: 5px;
    min-height: 100px;
    border-width: 1px;
    border-style: solid;
    border-color: #adadad;
    resize: none;
}

.form_field > textarea:focus {
    outline: none;
    box-shadow: 0px 0px 3px #3399ff;
}

.form_send_button {
    display: flex;
    background: #27278a;
    color: #fff;
    margin-left: auto;
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.form_send_button:hover {
    background: #3636c4;
}