
.taxonomy_page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

input {
	padding: 5px;
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
}

select {
	padding: 5px;
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
}

.page_content {
	display: flex;
	flex-direction: row;
	flex: 1 1 0;
	position: relative;
	overflow: hidden;
}

.description {
	display: flex;
	flex-direction: column;
	margin: 10px 20px 10px 20px;
}

.search_panel {
	display: flex;
	flex-direction: column;
	overflow: auto;
	flex: 1 1 0;
	max-width: 400px;
	margin: 5px 0px 0px 15px;
}

.search_content {
	display: flex;
	flex-direction: column;
	background: #eee;
	padding: 10px;
	margin-bottom: 10px;
}

.search_content > input:nth-child(1) {
	margin-bottom: 5px;
}

.search_settings {
	display: flex;
	margin-top: 5px;
}

.search_type {
	display: flex;
	flex-direction: column;
}

.search_type > select:nth-child(1) {
	margin-bottom: 5px;
}

.search_radio_group {
	display: flex;
	flex-direction: column;
	font-size: 8pt;
}

.search_radio_group > div:nth-child(1) {
	margin-left: 5px;
}

.search_radio_button {
	display: flex;
	align-items: center;
}

.content {
	display: flex;
	flex-direction: column;
	flex: 1 1 0;
	overflow: auto;
	margin: 5px 15px 0px 5px;
}

.content_header {
	display: flex;
	background: #eee;
	color: #000;
	padding: 5px;
	margin-left: 5px;
}

.header_name {
	display: flex;
	flex: 1 1 0;
	align-items: center;
	font-size: 18pt;
	font-weight: bold;
	margin: 0px;
	margin-left: 5px;
}

.content_definition {
	display: flex;
	flex-direction: column;
	padding-bottom: 5px;
	flex: 1 1 0;
}

.content_definition > h3 {
	margin: 0px;
	margin-bottom: 5px;
	font-size: 12pt;
	font-weight: bold;
}

.content_definition > div {
	font-size: 10pt;
	overflow-y: auto;
	white-space: pre-line;
}

.content_info {
	display: flex;
	flex-direction: column;
	padding-bottom: 5px;
	flex: 0 1 0;
}

.content_info > h3 {
	margin: 0px;
	margin-bottom: 5px;
	font-size: 12pt;
	font-weight: bold;
}

.info_codes {
	display: flex;
	font-size: 10pt;
	align-items: center;
	margin-bottom: 2px;
	white-space: pre;
}

.info_codes > div:nth-child(2) {
	display: flex;
}

.info_code {
	background: #ddd;
	padding: 0px 3px 0px 3px;
	border: 1px solid #bbb;
	margin-left: 2px;
	user-select: none;
	cursor: pointer;
}

.info_code:hover {
	background: #ccc;
	border-color: #333;
}

.info_value {
	margin-left: 2px;
	font-weight: bold;
}

.content_item {
	display: flex;
	flex-direction: row;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 10px;
	flex: 1 1 0;
	min-height: 150px;
	overflow-y: auto;
}

.content_item > div:nth-child(2) {
	margin-left: 10px;
	margin-right: 10px;
}

@media screen and (max-width: 1045px) {
	.content_item {
		flex-direction: column;
		min-height: 200px;
	}
}

.content_relations {
	display: flex;
	flex: 1 1 0;
	flex-wrap: wrap;
	min-height: 300px;
}

.content_relations:empty {
	display: none;
}

.relation_collection {
	display: flex;
	flex-direction: column;
	flex: 1 1 0;
	margin-left: 5px;
	min-height: 200px;
	min-width: 380px;
}

.relation_collection > h2 {
	font-size: 14pt;
	font-weight: bold;
	margin: 0px;
	margin-bottom: 5px;
	background: #eee;
	padding: 10px;
}

.relation_collection > div {
	display: flex;
	flex: 1 1 0;
	flex-direction: column;
	overflow: auto;
}

.goto_dialog_base {
    display: flex !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.goto_dialog_window {
	display: flex;
	flex-direction: column;
	background: #fff;
	padding: 10px;
	border: 2px solid #bbb;
	border-radius: 10px;
	box-shadow: 0px 0px 20px #0009;
}

.goto_dialog_window > div:nth-child(1) {
	margin-bottom: 10px;
}

.goto_dialog_buttons {
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;
}

.goto_dialog_buttons > div {
	display: flex;
	margin-left: 5px;
	padding: 5px;
	min-width: 50px;
	border-radius: 5px;
	color: #fff;
	background: #27278a;
	border: 1px solid transparent;
	justify-content: center;
	cursor: pointer;
}

.goto_dialog_buttons > div:hover {
	border-color: #333;
	color: #000;
	background: #ddd;
}